body {
  max-width: 100%;
}
.container-ofall {
  border: 1px solid white;
  background-color: #ac774f;
  max-width: 100%;
}
/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700*/

p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: oblique;
  font-size: 60px;
}
h2 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  color: aliceblue;
}
.try-image {
  border-radius: 4px;
}
.navbar,
footer {
  background-color: #ac774f;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
.footer-link {
  color: white;
  margin-bottom: 200px;
}
p {
  text-align: center;
  line-height: 1.5rem;
  margin-top: 20px;
}
#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 30s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  75% {
    left: -200%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
    color: white;
  }
  h2 {
    color: black;
  }
}
